<div class="container center">
    <h1 class="decker">Log In</h1>
    <div class="center">
        <form #loginForm=ngForm (submit)="authenticate()">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Password</mat-label>
                <input name="passwordInput" [(ngModel)]="p" matInput maxlength="5"
                    [type]="hide ? 'password' : 'text'" />
                <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </mat-form-field>
            <input type="submit" class="larger" value="Submit" />&nbsp;
            <span class="larger">{{ message }}</span>
        </form>
    </div>
</div>