h1 {
    font-family: "skyline";
    color: blue;
    font-size: 4.8em;
}

ul {
    font-family: "skyline";
    font-size: 4.4em;
    line-height: 1em;
    color: blue;
    text-align: left;
    list-style-type: none;
    padding-right: 30px;
    margin: 0;
}