.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.paper-title {
    background-image: url(../../assets/paper-title.svg);
    background-size: cover;
    width: 300px;
    height: 135px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 0;
    border: 1px solid transparent;
}

.title {
    font-family: "skyline";
    color: darkblue;
    font-size: 4.8em;
    margin-top: 50px;
    margin-bottom: 10px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

ul {
    background-image: url(../../assets/paper-content.svg);
    background-size: cover;
    padding: 10px 60px 20px 50px;
    font-family: "skyline";
    font-size: 4em;
    line-height: 1em;
    color: darkblue;
    text-align: left;
    list-style-type: none;
}