h1 {
    font-family: "choice";
    font-size: 3em;
}

ul {
    text-align: left;
    padding-right: 30px;
    margin: 0;
}

a {
    font-family: "decker";
    letter-spacing: 1px;
    font-size: 2.5em;
    line-height: 1.5em;
    padding: 10px;
    color: black;
    border: 1px solid transparent;
}

a:hover {
    color: blue;
}

.selected {
    list-style-image: url(../../assets/aperture-closed.svg);
}

.padded-right {
    padding-right: 10px;
}

.padded-left {
    padding-left: 10px;
}