<div class="center">
    <div class="container">
        <h1>Galleries</h1>
    </div>
    <div *ngIf="!loadingGalleries" class="container">
        <ul>
            <li *ngFor="let gallery of galleries" [ngClass]="galleryName == gallery.name ? 'selected' : ''">
                <a [routerLink]="'/galleries/' + gallery.name">{{gallery.name}}</a>
                <img *ngIf="gallery.secret" src="../../assets/lock.svg" alt="locked" />
            </li>
        </ul>
    </div>
    <img *ngIf="loadingGalleries || loadingGallery" src="../../assets/loading.gif" alt="loading..." />
    <div *ngIf="!loadingGallery" class="container" style="margin: 25px;">
        <div *ngFor="let tn of thumbnails" style="display: inline-block; margin: 10px;">
            <a [href]="'data:image/jpeg;charset=utf-8;base64,' + tn.image" data-fancybox="gallery">
                <img [src]="'data:image/jpeg;charset=utf-8;base64,' + tn.thumb" [alt]="tn.filename"
                    [title]="tn.filename" />
            </a>
        </div>
    </div>
</div>