<mat-sidenav-container hasBackdrop="true">
    <mat-sidenav #sidenav mode="over">
        <a [routerLink]="'galleries'" (click)="sidenav.toggle()">Galleries</a>
        <a [routerLink]="'gear'" (click)="sidenav.toggle()">Gear</a>
        <a [routerLink]="'webcam'" (click)="sidenav.toggle()">Webcam</a>
        <a href="http://footeware.ca:9001" target="_blank">Recipes</a>
        <a href="mailto:CraigFoote@gmail.com" target="_blank">Email</a>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container">
            <h1>Footeware</h1>
            <button class="padded animate__animated animate__bounceInDown" mat-mini-fab color="primary"
                (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        </div>

        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>