<mat-sidenav-container hasBackdrop="true">
    <mat-sidenav #sidenav mode="over">
        <a [routerLink]="'galleries'" (click)="sidenav.toggle()">Galleries</a>
        <a [routerLink]="'gear'" (click)="sidenav.toggle()">Gear</a>
        <a [routerLink]="'webcam'" (click)="sidenav.toggle()">Webcam</a>
        <a href="http://footeware.ca:8070/recipes">Recipes</a>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="paper-title">
            <div class="title">Footeware</div>
            <button class="padded animate__animated animate__bounceInDown" mat-mini-fab color="primary"
                (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        </div>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>