mat-sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
}

mat-sidenav {
    background-color: rgba(240, 248, 255, 0.5);
    box-shadow: none !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 240px;
    height: 330px;
    font-family: "skyline";
    color: blue;
    text-align: center;
    padding-top: 30px;
    margin: 20px;
    border-radius: 5px;
}

mat-sidenav a {
    font-size: 5em;
    display: block;
    padding: 20px 0 20px 0;
    text-decoration: none;
}

mat-sidenav-content {
    text-align: center;
}

.title {
    font-family: "skyline";
    color: blue;
    font-size: 4.8em;
    margin-top: 50px;
    margin-bottom: 10px;
}

h1 {
    font-family: "skyline";
    color: blue;
    font-size: 4.8em;
}