mat-sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
}

mat-sidenav {
    background-color: rgba(240, 248, 255, 0.5);
    box-shadow: none !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 240px;
    height: 370px;
    text-align: center;
    padding-top: 30px;
    margin: 20px;
    border-radius: 5px;
}

mat-sidenav a {
    font-size: 3em;
    font-family: "choice", sans-serif;
    color: black;
    display: block;
    padding: 20px 0 20px 0;
    text-decoration: none;
}

mat-sidenav a:hover {
    color: blue;
}

mat-sidenav div {
    margin-top: 15px;
    color: aliceblue;
}

mat-sidenav-content {
    text-align: center;
}

h1 {
    font-family: "choice", sans-serif;
    font-size: 3.5em;
}