@font-face {
    font-family: "drawing";
    src: url(../assets/drawing.ttf) format("truetype");
}

mat-sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
}

mat-sidenav {
    background-image: url(../assets/paper-nav.svg);
    background-size: cover;
    background-color: transparent;
    box-shadow: none !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 410px;
    height: 625px;
    font-family: "drawing";
    text-align: center;
    padding-top: 100px;
}

mat-sidenav a {
    font-size: 3em;
    display: block;
    padding: 24px 0 27px 0;
    text-decoration: none;
}

mat-sidenav-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.paper {
    background-image: url(../assets/paper-title.svg);
    background-size: cover;
    width: 720px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.padded-top {
    padding-top: 90px;
}

.title {
    display: inline;
    position: relative;
    top: 10px;
    left: 10px;
    font-family: "drawing";
    font-size: 4em;
}