<div class="center">
    <div class="container">
        <h1>Gear</h1>
    </div>
    <a href="../../assets/nikon.jpg" data-fancybox="gallery">
        <img src="../../assets/nikon-tn.jpg" alt="Nikon" class="animate__animated animate__fadeIn" /></a>
    <div class="container">
        <dl>
            <dt>Camera</dt>
            <dd>
                <a href="http://www.dpreview.com/products/nikon/slrs/nikon_d7000" rel="noopener noreferrer"
                    target="_blank">Nikon D-7000</a>
            </dd>
            <dt>Lens</dt>
            <dd>
                <a href="http://www.dpreview.com/products/nikon/lenses/nikon_18-200_3p5-5p6_vr_afs_ii"
                    rel="noopener noreferrer" target="_blank">Nikon AF-S DX
                    Nikkor 18-200mm f/3.5-5.6G ED VR II</a>
            </dd>
            <dt>Tripod</dt>
            <dd>
                <a href="https://www.patersonphotographic.com/product/trekker-tripod-kit/" rel="noopener noreferrer"
                    target="_blank">Benbo Trekker Mk 3
                    Compact Aluminum Tripod with Ball Head</a>
            </dd>
            <dt>Software</dt>
            <dd>
                <a href="https://wiki.gnome.org/Apps/Shotwell" target="_blank" rel="noopener noreferrer">Shotwell</a>,
                <a class="link" href="https://rawtherapee.com/" target="_blank"
                    rel="noopener noreferrer">RawTherapee</a>, <a class="link" href="https://www.gimp.org/"
                    target="_blank" rel="noopener noreferrer">GIMP</a>
            </dd>
        </dl>
    </div>
</div>