.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.paper-title {
    background-image: url(../../assets/paper-title.svg);
    background-size: cover;
    width: 300px;
    height: 135px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 0;
    border: 1px solid transparent;
}

.title {
    font-family: "skyline";
    color: darkblue;
    font-size: 4.8em;
    margin-top: 50px;
    margin-bottom: 10px;
}

dl {
    font-family: "skyline";
    font-size: 4em;
    color: darkblue;
    text-align: left;
    padding: 70px;
    background-image: url(../../assets/paper-content.svg);
    background-size: cover;
}

dt,
dd {
    line-height: 40px;
}

dd a {
    text-decoration: none;
}

.container {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}