h1 {
    font-family: "skyline";
    color: blue;
    font-size: 4.8em;
    margin: 20px;
}

dl {
    font-family: "skyline";
    font-size: 3em;
    color: darkblue;
    text-align: left;
}

dt,
dd {
    line-height: 38px;
}

dd a {
    text-decoration: none;
}

img{
    margin: 10px;
}