h1 {
    font-family: "choice";
    font-size: 3em;
    margin: 20px;
}

dl {
    font-family: "decker";
    font-size: 2em;
    text-align: left;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

dt,
dd {
    line-height: 38px;
}

dd a {
    text-decoration: none;
}

img{
    margin: 10px;
    border-radius: 5px;
}