/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "choice";
    src: url(assets/choice.ttf) format("truetype");
}

@font-face {
    font-family: "decker";
    src: url(assets/decker.ttf) format("truetype");
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background-image: url(assets/DSC_0074-hdr.jpg);
    background-size: cover;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.container {
    background-color: rgba(240, 248, 255, 0.8);
    margin: 10px auto 10px auto;
    width: fit-content;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
}
a {
    text-decoration: none;
}